@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    height: 100% !important;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.navbar-brand img {
    height: 10em;
}

.opacity-0 {
    opacity: 0 !important;
}

#welcomeTitle, #welcomeImg {
    transition: opacity 0.5s;
}

.welcome-img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(46, 52, 64, 0.3);
}

.projects-container img{
    width: 100%;
    height: auto;
}

.thumbnail {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 4px 16px rgba(46, 52, 64, 0.3);
    
}

.thumbnail img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    display: block;
    transition: 0.5s;
    object-fit: cover;
}

.layer {
    color: white;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.3), #2e3440);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    transition: height 0.5s;
}

.thumbnail:hover .layer{
    height: 100%;
}

.thumbnail:hover img{
    transform: scale(1.1);
}

.modal-body img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 16px rgba(46, 52, 64, 0.3);
}

.contact-container {
    width: 100%;
    max-width: 500px;
}

#floatingTextarea {
    height: 200px;

}
